meta(name="description", content=meta.description)
meta(name="keywords", content=meta.keywords)
meta(property="og:title", content=meta.title)
meta(property="og:type", content="website")
meta(property="og:url", content=meta.url)
meta(property="og:image", content=meta.image)
meta(property="og:site_name", content=meta.site_name)
meta(property="og:description", content=meta.description)
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=meta.title)
meta(name="twitter:description" content=meta.description)
meta(name="twitter:image:src" content=meta.image)
